.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw; 
    margin: 0;
  }
  
  .product-container {
    display: flex;
    padding: 20px;
    max-width: 1000px;
    width: 100%; 
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
  }
  
  .product-details {
    flex: 1;
    padding: 20px;
    position: relative;
    text-align: right;
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
    border-right: 1px solid #ddd; 
  }
  
  .product-image-container {
    width: 300px; 
    height: auto;
    border-left: 1px solid #ddd; 
    overflow: hidden;
  }
  
  .product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  